<h1 align="center">My To-do List</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">My To-Do List</div>
      <table class="table">
        <thead> 
          <tr> 
            <th>To-Do</th> <th>Actions</th>
          </tr> 
        </thead>
        <tbody>
          <% @todos.each do |todo| %>
          <tr>
            <td scope="row">
              <% if todo.done %>
                Done!
              <% else %>
                <%= link_to 'Mark as done', todo, method: :check %>
              <% end %>
            </td>
            <td scope="row">
              <% if todo.done %>
                <del><%= todo.name %></del>
              <% else %>
                <%= todo.name %>
              <% end %>
            </td>
            <td scope="row"><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
          <tr>
          <%= form_for(@todo) do |f| %>
            <td scope="row"></td>
            <td scope="row"><%= f.text_field :name, class: "form-control" %></td>
            <td scope="row"><%= f.submit "Create", class: "btn btn-primary" %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>