<h1 align="center">To-do List</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="panel panel-default">
      <table class="table">
        <thead> 
          <tr> 
            <th>Done</th> <th>Action</th>
          </tr> 
        </thead>
        <tbody>
          <% @todos.each do |todo| %>
          <tr>
            <td scope="row">
              <a rel="nofollow" data-method="check" href="/todos/check/<%= todo.id %>">
                <%= check_box_tag 'done_'+todo.id.to_s, 'done', todo.done %>
              </a>
            </td>
            <td scope="row">
              <% if todo.done %>
                <del>
              <% end %>
              <%= todo.name %>
            </td>
            <td scope="row">
              <%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
          <tr>
          <%= form_for(@todo) do |f| %>
            <td scope="row"></td>
            <td scope="row"><%= f.text_field :name, class: "form-control" %></td>
            <td scope="row"><%= f.submit "Create", class: "btn btn-primary" %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>