<!DOCTYPE html>
<html>
  <head>
    <title>Guðni Matthíasson - Personal website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>

  <body>
    <img src="images/angle.jpg" id="bg" alt="">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
