<!DOCTYPE html>
<html>
  <head>
    <title>Guðni Matthíasson - Personal website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag params[:controller] %>
    <%= javascript_include_tag 'application', media: 'vue' %>
  </head>

  <body>
    <div class="bg">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
