<!DOCTYPE html>
<html>
  <head>
    <title>Guðni Matthíasson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= favicon_link_tag '/images/favicon.ico' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :head %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-home"></i></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="todos">To-do List</a></li>
                <li><a href="music">Music</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="sudoku">Sudoku!</a></li>
                <li><a href="dice">Dice Roller</a></li>
              </ul>
            </li>
            <li><a href="cv" target="_blank">CV</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if !admin_signed_in? %>
              <li><a href="admins/sign_in">Sign in</a></li>
            <% else %>
              <li><a href="cms"><%= current_admin.email %></a></li>
              <li><a rel="nofollow" data-method="delete" href="admins/sign_out">Sign out</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <img src="/images/hex.jpg" id="bg" alt="">

    <div id="notifications-container">
      <div id="notifications">
        <p id="flash-notice" class="notice"><%= notice %></p>
        <p id="flash-alert" class="alert"><%= alert %></p>
      </div>
    </div>
    
    <div class="row">
      <div id="main-content">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="footer">
      <div align="center">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/in/gudni-matthiasson"><i class="fa-brands fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://github.com/gdnoz"><i class="fa-brands fa-github"></i></a></li>
          <li class="list-inline-item"><a rel="me" target="_blank" href="https://infosec.exchange/@gmatt"><i class="fa-brands fa-twitter"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/gudnim"><i class="fa-brands fa-facebook"></i></a></li>
          <li class="list-inline-item"><a target="_blank" href="mailto:gm@gmatt.is"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
